---
---

@import "{{ site.theme }}";

header li { all: initial; }

header ul a { all: initial; }

header li:first-child a { all: initial; }

header li:first-child a { all: initial; }

header li:last-child a { all: initial; }

header ul { 
  all: initial; 
  list-style-type: circle;
}
