---
---

@import "{{ site.theme }}";



header ul a { all: initial; }

header li:first-child a { all: initial; }

header li:first-child a { all: initial; }

header li:last-child a { all: initial; }


header li { all: initial; list-style-type: circle; }

header ul { 
  all: initial; 
  
}
